<div class="overlay"></div>
<!-- Javascript files-->
<!-- <script src="view/js/jquery.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script> -->
<!-- <script src="view/js/popper.min.js"></script>
<script src="view/js/bootstrap.bundle.min.js"></script>
<script src="view/js/owl.carousel.min.js"></script>
<script src="view/js/custom.js"></script>
<script src="view/js/jquery.mCustomScrollbar.concat.min.js"></script> -->

<!-- <script src="view/js/jquery-3.0.0.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- Data Tabes -->
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.jqueryui.min.js"></script>

<script type="text/javascript" src="view/js/menu.js"></script>

<style>
    #owl-demo .item {
        margin: 3px;
    }
    
    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }
</style>
<!-- My scripts -->
<!-- <script type="text/javascript" src="view/js/translate.js"></script> -->
<script src="module/products/model/validate_prod.js"></script>
</body>

</html>