<div id="contact-form">
    <h1>Contacta con Nosotros</h1>
    <br><br>
    <p>Nombre</p>
    <span id="error-name" style="color: red;"></span><br>
    <input type="text" id="contact-form-name" placeholder="Introduce tu nombre">
    <br><br>
    <p>Email:</p>
    <span id="error-email" style="color: red;"></span><br>
    <input type="email" id="contact-form-email" placeholder="Introduce tu email">
    <br><br>
    <p>Mensaje:</p>
    <span id="error-text" style="color: red;"></span><br>
    <textarea id="contact-form-text" placeholder="Introduce un mensaje"></textarea>
    <br>
    <a id="contact-form-send" class="button">Enviar</a>
</div>