<div id="wrapper" class="warpper">
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a data-tr="Homepage" href="./"></a>
                </li>
                <li>
                    <a data-tr="Shop" id="shop-menu-button" href="shop/"></a>
                </li>
                <li>
                    <a data-tr="Products" href="controller_prod/list/"></a>
                </li>
                <li>
                    <a data-tr="Services" href="services/"></a>
                </li>
                <li>
                    <a data-tr="About Us" href="aboutus/"></a>
                </li>
                <li>
                    <a data-tr="Contact Us" href="contactus/"></a>
                </li>
            </ul>

        </nav>
    </div>
    <div id="content">